@model CarBook.Dto.LocationDtos.UpdateLocationDto
@{
	ViewData["Title"] = "UpdateLocation";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Yeni Lokasyon</h4>
						<p class="card-subtitle mb-4">Kategori ile ilgili işlemlerin gerçekleştirileceği sayfadır. Yazarlar ile ilgili tüm alanların eksiksiz tamamlanması gerekmektedir.</p>

						<form method="post">
							<div class="form-group">
								<input type="hidden" asp-for="LocationId" />
								<label>Lokasyon Adı</label>
								<input type="text" class="form-control" asp-for="Name" placeholder="Lokasyon Adını Giriniz">
							</div>
							<button type="submit" class="btn btn-success waves-effect waves-light">Lokasyon Güncelle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


