@model CarBook.Dto.SocialMediaDtos.UpdateSocialMediaDto
@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Yeni Hizmet Oluştur</h4>
						<p class="card-subtitle mb-4">Kategori ile ilgili işlemlerin gerçekleştirileceği sayfadır. Yazarlar ile ilgili tüm alanların eksiksiz tamamlanması gerekmektedir.</p>

						<form method="post">
							<div class="form-group">
								<input type="hidden" asp-for="SocailMediaId" />
								<label>Platform Adı</label>
								<input type="text" class="form-control" asp-for="Name" placeholder="Platform Adını Giriniz">
							</div>
							<div class="form-group">
								<label>Sosyal Medya Hesap Linki</label>
								<input type="text" class="form-control" asp-for="Url" placeholder="Hesap Linkinizi Giriniz">
							</div>
							<div class="form-group">
								<label>Platform IconURL</label>
								<input type="text" class="form-control" asp-for="Icon" placeholder="Platform Icon Bilgisini Giriniz">
							</div>
							<button type="submit" class="btn btn-success waves-effect waves-light">Hizmet Güncelle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>









