@model List<CarBook.Dto.ServiceDtos.ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Hizmet Bilgileri</h4>
						<p class="card-subtitle mb-4">
							Anasayfa ve Hizmetler sayfalarında bulunan hizmet listesinin admin tarafındaki işlemleri aşağıdaki alandan gerçekleştirebilirsiniz. Tema bütünlüğünü korumak adın 4 adet hizmet girişi yapınız
						</p>
						<div class="table-responsive">
							<table class="table mb-0">
								<thead>
									<tr>
										<th>#</th>
										<th>Başlık</th>
										<th>Açıklama</th>
										<th>Icon</th>
										<th>Sil</th>
										<th>Güncelle</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										count++;
										<tr>
											<td scope="row">@count</td>
											<td>@item.title</td>
											<td>@item.description</td>
											<td>@item.icon</td>
											<td><a href="/Admin/AdminService/DeleteService/@item.ServiceId" class="btn btn-outline-danger">Sil</a></td>
											<td><a href="/Admin/AdminService/UpdateService/@item.ServiceId" class="btn btn-outline-success">Güncelle</a></td>
										</tr>
									}

								</tbody>
							</table>
							<a href="/Admin/AdminService/CreateService" class="btn btn-primary">Yeni Hizmet Oluştur</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






